@import "../../../../styles/variables/colors.scss";

.wrapper {
  max-width: 600px;
  margin: 0 auto;

  .heading {
    font-weight: 700;
    font-family: "Manrope", sans-serif;
  }

  mat-label {
    font-weight: 700;
    font-family: "Manrope", sans-serif;
  }

  mat-icon {
    color: $gray-color;
  }

  .form-btn-submit {
    width: 180px;
    height: 48px;
    font-weight: 700;
    font-family: "Manrope", sans-serif;
    background-color: $dark-color;
  }

  .description {
    color: $white-color;
    font-weight: 700;
    font-family: "Manrope", sans-serif;

    a {
      color: $dark-color;
      text-decoration: none;
    }
  }
}
