<div class="wrapper">
  <div class="wrapper-image"></div>
  <header class="wrapper-header">
    <h1>
      Budujemy minimalistyczne, nowoczesne i bezpieczne apartamenty, domy, a
      takze ville od podstaw
    </h1>
    <div class="header-content">
      <p class="header-text">
        Naszym piorytetem jest przede wszystkim tworzenie oraz budowanie od
        początku naszej działalności stabilnej i taniej przestrzeni do
        zamieszkania.
      </p>
      <p class="header-button mt-4">sprawdź tutaj</p>
    </div>
  </header>
</div>
<app-accordion></app-accordion>
