<div class="tabs">
  <h4 class="wrapper-subheader mb-5">
    Nasze kroki do osiągnięcia wyznaczonego celu.
  </h4>
  <mat-tab-group color="accent" fitInkBarToContent>
    <mat-tab label="Zaczynamy">Bezpłatna wycena nieruchomości</mat-tab>
    <mat-tab label="Przygotowujemy"
      >Przygotowanie nieruchomości na sprzedaz</mat-tab
    >
    <mat-tab label="Promujemy">Wypromowanie oferty nieruchomości</mat-tab>
    <mat-tab label="Zegnamy"
      >Podpisanie umowy - finalizacja i wydanie nieruchomości</mat-tab
    >
  </mat-tab-group>
</div>
