<div class="apartment-form-wrapper mt-3">
  <h2 class="mt-3 mb-4">
    {{ editMode ? 'Edytuj apartament' : 'Dodaj apartament' }}
  </h2>
  <form [formGroup]="apartmentForm" (ngSubmit)="onAddApartment()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nazwa budynku</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="controls.name.invalid">{{
          getErrorMessage(controls.name)
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Lokalizacja budynku</mat-label>
        <input matInput formControlName="location" />
        <mat-error *ngIf="controls.location.invalid">{{
          getErrorMessage(controls.location)
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Zdjęcie budynku</mat-label>
        <input
          matInput
          formControlName="image"
          placeholder="https://zdjęcie.com/images?q='cottage'"
        />
        <mat-error *ngIf="controls.image.invalid">{{
          getErrorMessage(controls.image)
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Powierzchnia (m<sup>2</sup>)</mat-label>
        <input matInput formControlName="area" placeholder="" />
        <mat-error *ngIf="controls.area.invalid">{{
          getErrorMessage(controls.area)
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Piętro</mat-label>
        <input matInput formControlName="floor" />
        <mat-error *ngIf="controls.floor.invalid">{{
          getErrorMessage(controls.floor)
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Cena (PLN)</mat-label>
        <input matInput formControlName="price" />
        <mat-error *ngIf="controls.price.invalid">{{
          getErrorMessage(controls.price)
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Opis</mat-label>
        <input matInput formControlName="description" />
        <mat-error *ngIf="controls.description.invalid">{{
          getErrorMessage(controls.description)
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-end">
      <button
        *ngIf="editMode"
        mat-raised-button
        color="warn"
        (click)="emitCloseDialog()"
        type="button"
      >
        Anuluj
      </button>
      <button
        color="primary"
        mat-raised-button
        type="submit"
        [disabled]="apartmentForm.invalid"
        class="mx-1"
      >
        {{ editMode ? 'Edytuj apartament' : 'Dodaj apartament' }}
      </button>
    </div>
    <app-alert *ngIf="errorMessage" [message]="errorMessage"></app-alert>
  </form>
</div>
